@model CajeroMVC.Models.UsuarioCuentaViewModel

@{
    ViewData["Title"] = "Crear Usuario";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <!-- Usuario -->
    <div class="mb-3">
        <label asp-for="UsuarioLogin" class="form-label"></label>
        <input asp-for="UsuarioLogin" class="form-control" />
        <span asp-validation-for="UsuarioLogin" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Pin" class="form-label"></label>
        <input asp-for="Pin" class="form-control" type="password" />
        <span asp-validation-for="Pin" class="text-danger"></span>
    </div>


    <!-- Cuenta -->
    <div class="mb-3">
        <label asp-for="NumeroCuenta" class="form-label">Nº de Cuenta</label>
        <input asp-for="NumeroCuenta" class="form-control" type="number" value="@ViewBag.NumeroCuentaAleatorio" readonly />
    </div>
    <div class="mb-3">
        <label asp-for="Titular" class="form-label">Titular</label>
        <input asp-for="Titular" class="form-control" type="text"/>
    </div>
    <div class="mb-3">
        <label asp-for="Saldo" class="form-label">Saldo</label>
        <input asp-for="Saldo" class="form-control" type="number" value="0.00"/>
    </div>

    <button type="submit" class="btn btn-primary">Crear</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
